<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/articulos/los-rebeldes" class="card-link"><div class="card h-100">
        <img src="/assets/img/rebeldes.png" class="card-img-top" alt="Los Rebeldes">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Los Rebeldes&rdquo;</h5>
          <p class="card-text">Una resumida oda al movimiento juvenil en contra del cambio climático y algunas de sus implicancias.</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="/articulos/al-final-del-camino" class="card-link"><div class="card h-100">
        <img src="/assets/img/camino.png" class="card-img-top" alt="Al Final del Camino">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Al Final del Camino&rdquo;</h5>
          <p class="card-text">Una reflexión sobre el propósito de vivir y la validez de la vida efímera.</p>
        </div>
      </div></a>
    </div>
  </div><br>
<br>
