<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/canciones/anderande" class="card-link"><div class="card h-100">
        <img src="/assets/img/anderande.png" class="card-img-top" alt="Anderandé">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Anderandé&rdquo;</h5>
          <p class="card-text">El amor expresado en un estribillo sin sentido.</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="/canciones/el-valle" class="card-link"><div class="card h-100">
        <img src="/assets/img/elvalle.png" class="card-img-top" alt="El Valle">
        <div class="card-body">
          <h5 class="card-title">&ldquo;El Valle&rdquo;</h5>
          <p class="card-text">Vals sin letra.</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="/canciones/nomeolvides" class="card-link"><div class="card h-100">
        <img src="/assets/img/nomeolvides.png" class="card-img-top" alt="Nomeolvides">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Nomeolvides&rdquo;</h5>
          <p class="card-text">Nombrada por la flor celeste de cinco pétalos.</p>
        </div>
      </div></a>
    </div>
  </div><br>
<br><br>
