<nav class="navbar navbar-expand-xxl navbar-light bg-light">
<div class="container-fluid">
<a class="navbar-brand ml-auto mx-auto" href="http://ellispetryla.com/"><img src="/assets/svg/logo2_blue.svg" title="Inicio" alt="Ellis Petryla" class="logo"></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="/articulos">Artículos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/historias">Historias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/canciones">Canciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sobre-mi">Sobre Mí</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacto">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link azar" onclick="random_gen()">Al Azar</a>
    </li>
  </ul>
</div>
</div>
</nav>
