<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/historias/aroma-a-ciruela" class="card-link"><div class="card h-100">
        <img src="/assets/img/aroma.png" class="card-img-top" alt="Aroma a Ciruela">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Aroma a Ciruela&rdquo;</h5>
          <p class="card-text">Emilia, una solitaria ama de casa, encuentra compañía en las ejecuciones públicas.</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="/historias/dialogos-con-una-pintura" class="card-link"><div class="card h-100">
        <img src="/assets/img/dialogos.png" class="card-img-top" alt="Diálogos con una Pintura">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Diálogos con una Pintura&rdquo;</h5>
          <p class="card-text">Un impaciente psicólogo recibe a una pintura con problemas de identidad.</p>
        </div>
      </div></a>
    </div>
    <div class="col">
      <a href="/historias/noche-de-las-luciernagas" class="card-link"><div class="card h-100">
        <img src="/assets/img/noche.png" class="card-img-top" alt="Noche de las Luciérnagas">
        <div class="card-body">
          <h5 class="card-title">&ldquo;Noche de las Luciérnagas&rdquo;</h5>
          <p class="card-text">(Prólogo) Un hombre se encuentra con un misterioso objeto en la fábrica antes dirigida por su padre.</p>
        </div>
      </div></a>
    </div>
  </div><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
  <a href="/historias/un-chorro" class="card-link"><div class="card h-100">
    <img src="/assets/img/casa.png" class="card-img-top" alt="Casa">
    <div class="card-body">
      <h5 class="card-title">&ldquo;¡Un Chorro!&rdquo;</h5>
      <p class="card-text">Un inspector investiga un peculiar robo en esta historia breve de una página.</p>
    </div>
  </div></a>
</div>
<div class="col">
  <a href="/historias/dianne-de-routchet" class="card-link"><div class="card h-100">
    <img src="/assets/img/routchet.png" class="card-img-top" alt="Dianne de Routchet">
    <div class="card-body">
      <h5 class="card-title">&ldquo;Dianne de Routchet&rdquo;</h5>
      <p class="card-text">(Prólogo) En el medio de una guerra, un campesino francés se encuentra con una bebé abandonada.</p>
    </div>
  </div></a>
</div>
<div class="col">
  <a href="/historias/dime-algo-sobre-el-mundo" class="card-link"><div class="card h-100">
    <img src="/assets/img/mundo.png" class="card-img-top" alt="Dime Algo Sobre el Mundo">
    <div class="card-body">
      <h5 class="card-title">&ldquo;Dime Algo Sobre el Mundo&rdquo;</h5>
      <p class="card-text">Una breve charla en rima.</p>
    </div>
  </div></a>
</div>
</div>
<br><br>
